{% extends '::dashboard.html.twig' %}

{% block content%}

    <h3>Editar Usuario de Red</h3>
    
    {{ form(edit_form) }} 
        <ul class="record_actions">
    <li>
        <a href="{{ path('usuariored') }}">
            Volver a la lista
        </a>
    </li>
</ul>


{% endblock %}
