<div class="col-sm-3 col-md-2 sidebar">
    <div id="Accordion1">
			<h3><a href="#">Usuarios</a></h3>
			<div>
				<p><a href="#">Usuarios de Red</a></p>
				<p><a href="#">Usuarios del Sistema</a></p>
			</div>
			<h3><a href="#">Informes</a></h3>
			<div>
				<p><a href="#">Generar Informe</a></p>
				<p><a href="#">Informe Predeterminado</a></p>
			</div>
			<h3><a href="#">Oficinas</a></h3>
			<div>
				<p><a href="#">Listado de Oficinas</a></p>
			</div>
			<h3><a href="#">Grupos</a></h3>
			<div>
				<p><a href="#">Listado de Grupos</a></p>
			</div>
			<h3><a href="#">Sitios</a></h3>
			<div>
				<p><a href="#">Listado de Sitios</a></p>
			</div>
			<h3><a href="#">Plantillas</a></h3>
			<div>
				<p><a href="#">Crear Plantillas</a></p>
				<p><a href="#">Listado de Plantillas</a></p>
			</div>
			<h3><a href="#">Host</a></h3>
			<div>
				<p><a href="#">Listado de Host</a></p>
			</div>
			<h3><a href="#">Ver Rankings</a></h3>
			<div>
				<p><a href="#">Top N de sitios más visitados</a></p>
				<p><a href="#">Top N de usuarios con mas violaciones</a></p>
				<p><a href="#">Top N de usuarios con más tráfico</a></p>
				<p><a href="#">Top N de protocolos utilizados</a></p>
			</div>
			
		</div>
</div>
