{% extends "Grupo3TallerUNLPUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% stylesheets '@Grupo3TallerUNLPUserBundle/Resources/public/css/login.css' %}
    <link href="{{ asset_url }}" rel="stylesheet" />
{% endstylesheets %}

<p class="alert alert-warning">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
<a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">Volver</a>
{% endblock fos_user_content %}
