Grupo3TallerUNLP\PlantillaBundle\Entity\Filtro:
    type: entity
    table: null
    repositoryClass: Grupo3TallerUNLP\PlantillaBundle\Entity\FiltroRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        nombre:
            type: string
            length: 255
        tipo:
            type: string
            length: 255
    oneToMany:
        valorfiltro:
            targetEntity: Grupo3TallerUNLP\PlantillaBundle\Entity\ValorFiltro
            mappedBy: filtro
    lifecycleCallbacks: {  }
