Grupo3TallerUNLP\PlantillaBundle\Entity\ValorFiltro:
    type: entity
    table: null
    repositoryClass: Grupo3TallerUNLP\PlantillaBundle\Entity\ValorFiltroRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        valor:
            type: string
            length: 50
        filtroId:
            type: integer
            column: filtro_id
    manyToOne:
        filtro:
            targetEntity: Grupo3TallerUNLP\PlantillaBundle\Entity\Filtro
            inversedBy: valorfiltro
            joinColumn:
                name: filtro_id
                referencedColumnName: id
        plantilla:
            targetEntity: Grupo3TallerUNLP\PlantillaBundle\Entity\Plantilla
            inversedBy: valorfiltro
            joinColumn:
                name: plantilla_id
                referencedColumnName: id
                onDelete: "CASCADE"
    lifecycleCallbacks: {  }
