Grupo3TallerUNLP\UsuarioRedBundle\Entity\UsuarioRed:
    type: entity
    table: null
    repositoryClass: Grupo3TallerUNLP\UsuarioRedBundle\Entity\UsuarioRedRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        nombre:
            type: string
            length: 255
            column: Nombre
        apellido:
            type: string
            length: 255
            column: Apellido
        cargo:
            type: string
            length: 255
            column: Cargo
            nullable: true
        dNI:
            type: integer
            column: DNI
            nullable: true
    # relacion host
    manyToMany:
        hosts:
            targetEntity: Grupo3TallerUNLP\HostBundle\Entity\Host
            inversedBy: networkUsers
            joinTable:
                name: UsuarioRed_Host
                joinColumns:
                    usuariored_id:
                        referencedColumnName: id
                inverseJoinColumns:
                    host_id:
                        referencedColumnName: id
    # relacion con oficina
    manyToOne:
        oficina:
            targetEntity: Grupo3TallerUNLP\OficinaBundle\Entity\Oficina
            inversedBy: usuariosdered
    joinColumn:
        name: oficina
        referencedColumnName: id
    # relacion con usuario de sistema
    oneToOne:
        usuarioSistema:
            targetEntity: Grupo3TallerUNLP\UserBundle\Entity\User
            mappedBy: usuarioRed
    lifecycleCallbacks: {  }
