<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Generar Informe</a></li>
        <li><a href="#">Plantillas</a></li>
        <li><a href="#">Informes Predefinidos</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">Sitios más visitados</a></li>
        <li><a href="#">Usuarios con más tráfico</a></li>
        <li><a href="#">Usuarios con más tráfico denegado</a></li>
        <li><a href="#">Protocolos más utilizados</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">Usuarios de Red</a></li>
        <li><a href="#">Usuarios de Sistema</a></li>
        <li><a href="#">Oficinas</a></li>
        <li><a href="#">Hosts</a></li>
        <li><a href="#">Sitios</a></li>
        <li><a href="#">Grupos de Sitios</a></li>
    </ul>
</div>
